@import '../../../styles/mixins.scss';

.overlay {
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}
.field {
  position: relative;
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.7;
    font-size: 0.9rem;
    @include sm {
      font-size: 0.8rem;
    }
  }

  .field__results {
    width: auto;
    min-width: 150px;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    .field__results_result {
      padding: 5px 0;
      .resultInside {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0px 20px;
        margin-bottom: 5px;
        img {
          width: 30px;
        }
        p {
          font-size: 0.9rem;
          padding: 5px 5px;
          @include sm {
            font-size: 0.8rem;
          }
        }
        &:hover {
          background-color: (rgba(0, 0, 0, 0.1));
        }
      }
    }
    &.active {
      display: block;
    }
  }
}
