@import '../../../../styles/extends.scss';

.downloadsTab {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    margin-top: 10px;
    @extend %mainBtn;
    font-size: 0.9rem;
    padding: 5px 15px;
  }
}